.dashboard-main {
  height: 90%;
  width: 85%;
  background: whitesmoke;
  position: absolute;
  top: 10%;
  left: 15%;
  display: flex;
  justify-content: center;
  padding-top: 3%;
  flex-wrap: wrap;
  gap: 2%;
  box-sizing: border-box;

  .dashboard-items {
    width: 45%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .items-heading {
      width: 100%;
      height: 20%;
      background: white;
      font-size: 0.9rem;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      border-radius: 10px 10px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0 2% 0 2%;
      .manage-menu {
        width: 20%;
        height: 90%;
        display: flex;
        align-items: center;
        margin-left: 20%;
        Button {
          color: black;
          border: 1px solid lightgray;
          font-size: 0.6rem;
          font-weight: 500;
          font-family: "Roboto", sans-serif;
        }
      }
      .calender-div {
        width: 25%;
        height: 90%;
        display: flex;
        align-items: center;
      }
    }
    .items-body {
      width: 100%;
      height: 79%;
      background: white;
      border-radius: 0px 0px 10px 10px;
    }
  }
}
